.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #86a9cc;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .sub-header {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #bcd5ec;
    color: white;
  }

  .content {
    display: flex;
    margin: 130px auto auto;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
  }